point
{
    struct
    {
        double x;
        double y;
        double z;
    }
    print
    {
        printf("(%f, %f, %f)", \1.x, \1.y, \1.z);
    }
    ctor { memset(\1, 0, sizeof(point)); }
}

array_point
{
    template { array }
    type     { point }
}

model
{
    struct
    {
        unsigned    id;
        array_point pts;
    }
    print
    {
        printf("model %d: ", \1.id);
        $print(\1.pts);
    }
    ctor { id = 0; }
}

array_model
{
    template { array }
    type     { model }
}

