{
    "types":
    {
        "int":
        {
            "print": "printf(\"%d\", \\1)"
        },
        "test_struct":
        {
            "print"   : "print_test_struct(\\1)"
        }
    },
    "components":
    {
        "array": ["int", "test_struct"],
        "heap" : ["int"]
    },
    "includes":
    [
        "test_struct.h"
    ]
}

